<div class="container">

  <h1 class="text-center">Wiki</h1>


  <% @articles.each do |article| %>
    <div>
      <h3 class="text-center"><%= article.title %></h3>
      <p class="text-center"><%= article.description %></p>
      <p class="text-center"><%= link_to 'Show Detail', article_path(article) %></p>
    </div>
  <% end %>
</div>

