

<!-- <form action="/articles" method="post">
 <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" placeholder="Title" name="article[title]">
  <input type="text" placeholder="Description" name="article[description]">
  <input type="text" placeholder="Content" name="article[content]">
  <input type="submit">
</form> -->
<div class="container">
<h1>Upload New Article</h1>

  <%= render 'form' %>
</div>
